@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* BOTÓN HAMBURGUESA (ESCONDE EN DESKTOP) */
body {
  font-family: "Lato", sans-serif;
}
.menu-toggle {
  font-size: 2rem; /* Tamaño del ícono hamburguesa */
  background: none; /* Sin fondo */
  border: none; /* Sin bordes */
  cursor: pointer; /* Manito al pasar el mouse */
  margin-right: 1rem; /* Espacio entre el borde derecho */
}

/* RESPONSIVE: MÓVILES */
@media (max-width: 768px) {
  .menu-toggle {
    display: block; /* Mostrar botón hamburguesa en móviles */
    color: black;
  }

  .Menu-Horizontal {
    display: none; /* Ocultar menú horizontal por defecto */
    flex-direction: column; /* Mostrarlo en vertical al activarse */
    width: 100%;
    background-color: white;
    position: absolute;
    top: 5rem; /* Debajo del menú fijo */
    left: 0;
  }

  .Menu-Horizontal.active {
    display: flex; /* Mostrar menú al activar la clase */
  }

  .Menu-Horizontal li {
    border-bottom: 1px solid #ccc; /* Líneas separadoras */
  }
}
